@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
  url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}