.main-page-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 184px;
}

.main-page-blocks {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	min-height: calc(100vh - 129px);
}

.page-header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	background-color: #f26f6a;
}

.page-header__row {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.page-header__logo img {
	width: 20.538vw;
	display: block;
}

.page-header__article {
	width: 100%;
}

.page-header__article h1 {
	display: block;
	font-size: 4.2vw;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.wrapper {
	position: relative;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}