.step-two {
	&__choice-block h2 {
		display: block;
		text-align: center;
		font-size: 6vw;
		padding-top: 2.5vw;
		padding-bottom: 1.666667vw;
		font-weight: 500;
		color: #4d3a73;
		text-transform: uppercase;
	}
	&__choice-controls {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 5.9259vw;
	}
	&__eggs-block, &__easter-block {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__eggs-link {
		display: flex;
		width: 14.074074vw;
		margin-bottom: 1.5625vw;
		&:not(:nth-child(6n)) {
			margin-right: 2.777778vw;
		}
	}
	&__eggs-link img {
		transform: rotate(-35deg);
		background-position: center;
		background-repeat: no-repeat;
	}
	&__easter-link {
		width: 29.62963vw;
		margin-bottom: 1.041667vw;
		&:not(:nth-child(3n)) {
			margin-right: 1.851852vw;
		}
	}
	&__tab-content {
		display: none;
	}
	&__tab-content.active {
		display: block;
	}
	.step-two__next-block {
		padding-bottom: 10.5vw;
		padding-top: 10.8vw;
	}
	.step-one__photo-block &__photo-egg {
		position: absolute;
		right: 8vw;
		bottom: -8vw;
		z-index: 10;
		width: 20.074074vw;
		height: 24.074074vw;
		transform: rotate(5deg);
		&:nth-child(2) {
			right: -3vw;
			z-index: 3;
			transform: rotate(0deg);
		}
		&:nth-child(3) {
			right: 16vw;
			z-index: 2;
			transform: rotate(-50deg);
		}
	}
}